<div class="card py-2" style="width: 15rem;">
  <img src="{{product.img}}" class="card-img-top" alt="...">

  <div class="card-body">
    <div class="d-flex justify-content-between">
      <h6 class="card-title">{{product.name}}
        <i *ngIf="product.best_seller" class="bi bi-award-fill" style="font-size: 1rem; color:goldenrod;"></i>
      </h6>
      <div class="badge bg-info text-center fs-6">
        $ {{product.price}}
      </div>
    </div>
    <p class="card-text">{{product.description}}</p>
    <div class="d-flex justify-content-between">
      <button *ngIf="product.available" class="btn btn-success" (click)="addCart(product)">Lo Quiero</button>
      <button *ngIf="!product.available" class="btn btn-danger " style="background-color: #dc3545;" disabled>NO DISPONIBLE</button>
    </div>

  </div>
</div>
